<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Open Reading Frames</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="hover_bkgr_fricc" id="no_genome_label">
            <span class="helper"></span>
            <div>
                <div onclick="exit_popup()" class="popupCloseButton">&times;</div>
                Insert a genome! <br> (Or press the 'PASTE EXAMPLE' button)
            </div>
        </div>
        <div class="body_div" >
            
            <div class="flex-container">
                <div class="flex-child"  id="input_flex" >
                    <div class="input_div">
                        <div>
                            <h2>Search for ORFs</h2><br>
                            <h1>Open Reading Frames (ORF)</h1>
                            <p>In <b>molecular biology</b>, open reading frames (ORFs) are defined as <b>spans of DNA sequence 
                                between the start and stop codons.</b> <br>Such an ORF may contain a <b>start codon (ATG)</b> 
                                and by definition cannot extend beyond a <b>stop codon (TGA, TAG TAA)</b> <br><a href="https://en.wikipedia.org/wiki/Open_reading_frame">more info on ORFs</a>
                            </p><br>
                            <p>1. Insert a genome string (characters 'ATGC')<br> (or press the example button)<br>2. Define minimal and maximal length of ORFs<br>3. Hit RUN!</p><br>
                        </div>
                        <div class="fields_div">
                                    <div class="input_row">
                                        <div class="input_label">
                                            <label for="dna">Example genome length:</label>
                                        </div>
                                        <div class="input_length">
                                            <input class="length_input" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                            type = "number" maxlength = "6" type="number" name="example" id="length_example" value="5000"/>
                                        </div>
                                        <div class="input_button">
                                            <button class="blue_button" id="btn_example" onclick="example()">Paste Example</button>
                                        </div>
                                    </div>
                                    <div class="input_row">
                                        <div class="input_label">
                                            <label for="min">Minimum ORF length:</label>
                                        </div>
                                        <div class="input_length">
                                            <input class="length_input" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                            type = "number" maxlength = "2" name="min" id="length_min" value="4"/>
                                        </div>
                                        <div class="input_button">
                                            <button class="blue_button" id="btn_clear" onclick="clear_input()">Clear</button>
                                        </div>
                                    </div>
                                    <div class="input_row">
                                        <div class="input_label">
                                            <label for="max">Maximum ORF length:</label>
                                        </div>
                                        <div class="input_length">
                                            <input class="length_input" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                            type = "number" maxlength = "3" type="number" name="max" id="length_max" value="20"/>
                                        </div>
                                        <div class="input_button">
                                            <button class="blue_button" id="btn_run" onclick="run()">Run</button> 
                                        </div>
                                    </div>
                        </div><br>
                        <textarea placeholder="Input Genome" id="input_genome" rows="10"></textarea>
                    </div>
                </div>
                
                <div class="flex-child" id="output_flex" style="display: none;" >
                    <div class="output_div">
                        <div onclick="close_results()" class="popupCloseButton">&times;</div>
                        <div class="output_header_div">
                            <h2>Results</h2><br>
                            <div class="output_buttons_div">
                                <div class="title_sum">
                                    <h1 id="output_title_sum">ORFs were found!</h1>
                                </div>
                                <a class="export_json blue_button" id="exportJSON">Export JSON</a>
                            </div>
                        </div>        
                        <br>
                        <div id="div_orfs_found">
                            <p>The data is presented in the following structure:<br> 
                                - start and end position in input genom string <br>
                                - ORF that was found (normal or reverse complement) <br>
                                - IUPAC translation <a href="https://www.genecorner.ugent.be/iupac.html">more info</a> <br><br>If an ORF was found in the reverse complement, the start position will be greater than the end position<br>
                            </p><br><br>
                            <div class="tableFixHead">
                                <table>
                                  <thead>
                                    <tr><th>START</th><th>END</th><th>ORF</th><th>IUPAC</th></tr>
                                  </thead>
                                  <tbody id="output_orfs_div">
    
                                  </tbody>
                                </table>
                            </div>
                            <div class="sum_div">
                                <label>Sum: </label>
                                <label id="sum_label"></label>
                            </div>
                        </div>
                        <div id="label_no_orfs" class="label_no_orfs">
                            <h1>No ORFs found!</h1>
                        </div>
                    </div>
                </div>
            </div><br><br><br><br>

            <footer>
                <div class="footer_div">
                    <div>Author: <br> <b>Fabian Vogt</b></div> 
                    <div class="row_div">
                        <img width="30px" height="30px" src="email_icon.png" alt="Send me an Email">
                        <a href="mailto:fabianxvogt@gmail.com">Email</a>     
                    </div>
                    <div class="row_div">
                        <img width="30px" height="30px" src="github_icon.png" alt="Show this project on GitHub">
                        <a href="https://github.com/fabianxvogt/ORF-webapp">GitHub</a>    
                    </div>  
                        <div>Server Time: <br> {{ context.server_time }}</div>  
                </div>    
            </footer>
            <div id="loader" class="loader"></div>
        </div>
        
          <script>
            var ORF_LEN = 0
            function exit_popup() {
                document.getElementById("no_genome_label").style.display = "none"
            }
            function end_loading() {
                document.getElementById("loader").style.visibility = "hidden"
            }
            function start_loading() {
                document.getElementById("loader").style.visibility = "visible"
            }
            function after_orf_search() {
                end_loading()
                var x = document.getElementById("output_flex");  
                if (x.style.display === "none") {
                    x.style.display = "block";
                } 
                document.getElementById("output_flex").scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
            function postData(url = '', data = {}) {
                try {
                    fetch(url, {
                        method: 'POST',
                        mode: 'cors',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data),
                    })
                    .then((resp) => resp.json())
                    .then(function(response) {
                        var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(response, null, 2));
                        var dlAnchorElem = document.getElementById('exportJSON');
                        dlAnchorElem.setAttribute("href", dataStr);
                        dlAnchorElem.setAttribute("download", "orf.json");
                        
                        ORF_LEN = response.length
                        document.getElementById("output_title_sum").innerHTML = "Found " + ORF_LEN + " ORFs!"

                        var innerHTML = "<table>" 
                        if (ORF_LEN === 0) {
                            document.getElementById("label_no_orfs").style.display = "block"
                            document.getElementById("div_orfs_found").style.display = "none"
                            document.getElementById("exportJSON").style.visibility = "hidden"
                            after_orf_search()
                            return
                        } else {
                            document.getElementById("div_orfs_found").style.display = "block"
                            document.getElementById("label_no_orfs").style.display = "none"
                            document.getElementById("exportJSON").style.visibility = "visible"
                        }
                        document.getElementById("sum_label").innerHTML = ORF_LEN
                        for (var dict of response.entries()) {
                            innerHTML += "<tr>"
                            orf = dict[1]['ORF']
                            iupac = dict[1]['IUPAC']
                            if (orf.length > 120) {
                                orf = orf.slice(0,120) + "..."
                            }
                            if (iupac.length > 40) {
                                iupac = iupac.slice(0,40) + "..."
                            }
                            innerHTML += "<td>" + dict[1]['START'] + "</td>";
                            innerHTML += "<td>" + dict[1]['END'] + "</td>";
                            innerHTML += "<td>" + orf + "</td>";
                            innerHTML += "<td>" + iupac + "</td>";
                            innerHTML += "</tr>"
                        }
                        innerHTML += "</table>"
                        document.getElementById('output_orfs_div').innerHTML = innerHTML

                        after_orf_search()
                    });
                } catch(error) {
                    console.log(error)
                }
            }
            async function close_results() {
                await new Promise(resolve => {
                    document.getElementById("input_flex").scrollIntoView({ behavior: 'smooth', block: 'center' })
                    setTimeout(() => {
                        resolve("");
                    }, 500);
                })
                document.getElementById("output_flex").style.display = "none"
            }
            function random_example(length) {
                return new Promise(resolve => {
                    var result           = '';
                    var characters       = 'TAGC';
                    var charactersLength = characters.length;
                    for ( var i = 0; i < length; i++ ) {
                        result += characters.charAt(Math.floor(Math.random() * charactersLength));
                    }
                    end_loading()
                    resolve("");
                    document.getElementById("input_genome").value = result
                })                
            }
            function clear_input() {
                document.getElementById("input_genome").value = ""
            }
            function example() {
                random_example(document.getElementById("length_example").value)
            }
      
            function run() {
                if (document.getElementById("input_genome").value === "") {
                    document.getElementById("no_genome_label").style.display = "block"
                    return
                } else {
                    exit_popup()
                }
                var url = 'https://orf-container1-2nap6n3mua-uc.a.run.app'
                var local_url = 'http://127.0.0.1:5000'
                start_loading()
                postData(url + '/orf_api', { min: document.getElementById("length_min").value, max: document.getElementById("length_max").value, dna: document.getElementById("input_genome").value })
            }

            
        </script>
    </body>
</html>