body {
  background-image: url('genom.jpg'); 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
  color: rgba(0,0,0,0.87); 
  font-family: Roboto, Helvetica, Arial, sans-serif; 
  margin: 0; padding: 0; 
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 100%;
}
.length_input {
  padding: 5%;
  max-width: 80px;
}

.input_div, .output_div {
  background: white;
  opacity: 95%;
  height: 100%;
  height: fit-content;
  /*max-width: 100%; */
  padding: 10px 10px; 
  border-radius: 10px;
}
.input_div {
  min-width: 50%;
  display: block;
}

.flex-child {
  display: flex;
  justify-content: center;
  min-width: 50%;
  max-width: 92%;
  position: relative;
  flex: 1;
  margin: 50px;
}  

input .buttons, input .lengths{
  width: 100%
}
textarea {
  width: 100%;
}
footer {
  text-align: center;
  padding: 0px;
  background-color: black;
  color: white;
}
.body_div {
  min-height:100vh; 
  display:flex; 
  flex-direction:column; 
  justify-content:space-between;
}

.label_input_div {
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  min-width: 40%;
  margin-left: 10px;
}

.length_labels_div {
  display:flex; 
  flex-direction: column; 
  justify-content: space-evenly;
  margin: 00px auto 0px 0px; 
}

.length_inputs_div {
  display:flex; 
  flex-direction: column;  
  justify-content: space-evenly;
}

.buttons_div {
  margin-left: 10px;
  display:flex; 
  flex-direction: column; 
  justify-content: space-evenly;
  margin-right: 10px;
}


.tableFixHead          { overflow: auto; height: 800px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

/* Just common table stuff. Really. */
table  { width: 100%; max-height: 800px;}
th     { color: white; background-color: #039be5; }
th, td { 
  padding: 8px 16px; 
  text-align: left;
  padding: 3px;  }
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: x-small;
}
tbody {
   overflow: auto;
}
.sum_div {
  font-weight: 700; margin-top: 20px;
}
.row_div {
  align-items: center;
  display:flex;  
  flex-direction: row;
}
.footer_div {
  display:flex; 
  justify-content: space-around; 
  height: 60px; 
  align-items: center; 
  border-top: 5px solid #ffa100;
  background-color: white;
  color: black; 
  font-size: medium;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.output_header_div {
  height: fit-content;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  max-width: 100%;
}
.output_buttons_div {
  height: fit-content;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  margin-right: 10px;
}

.label_no_orfs {
  font-size: x-large;
  display: none;
}

.export_json {
  max-height: 30px;
  margin: 0px;
  font-size: small;
}

.close_button {
  min-height: 30px;
  width: 60px;
  margin-left: 10px; 
  font-weight: 500; 
  font-size: xx-large;
}

.blue_button {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  height: fit-content;
  text-align: center; 
  background: #039be5; 
  text-transform: uppercase; 
  text-decoration: none; 
  color: white; 
  padding: 10px; 
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor:pointer;
  width: 100%;
}

.fields_div {
  display:flex; margin:0px 0px 0px 0px; flex-direction: column; justify-content: space-between; max-width: 100%;
}
.input_row {
  display: flex; flex-direction: row; width: 100%; justify-content: space-between;  align-items: center;
}
.input_button {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  width: 30%;
  max-width: 150px;
}
.input_length {
  margin-right: auto;
}

.input_label {
  width: 30%;
}

h2, input { 
  margin-left: 10px; color: #ffa100; font-weight: bold; font-size: 16px; }
h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px 10px;}
p { line-height: 140%; margin: 0px 20px 0px 20px; max-width: 1000px; font-size: 14px; }


/* loading animation */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #039be5; 
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed;
  margin: auto; 
  inset: 0; 
  box-shadow: 0px 0px 100px 30px grey; 
  background-color: rgba(128, 128, 128, .5); 
  visibility: hidden;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
  background:rgba(0,0,0,.4);
  cursor:pointer;
  display:none;
  height:100%;
  position:fixed;
  text-align:center;
  font-size: large;
  
  color: #ffa100;
  font-weight: bold;
  top:0;
  width:100%;
  z-index:10000;
}
.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 400px;
  max-height: 100px;
  vertical-align: middle;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupCloseButton {
  background-color: #fff;
  color: black;
  border: 3px solid #999;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0px;
}
.popupCloseButton:hover {
  background-color: #ccc;
}
.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}